body{
    width: 100%;
    height: 100%;
    background: url('images/space.png');
    overflow: hidden;
}

h1{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 40px;
    text-shadow: 0 0 10px #000000;
    color: white;
}

/*========================= SUN =========================*/

#sun{
    position: absolute;
    z-index: 1000;
    width: 160px;
    bottom: 10px;
    left: 50%;
    margin-left: -80px;
}

/*========================= NEPTUNE =========================*/

#neptune{
    width: 66px;
    height: 66px;
    margin: 143px;
    z-index:1000:
}

#neptune-orbit{
    position: absolute;
    width: 1204px;
    height:1204px;
    bottom: -512px;
    left: 50%;
    margin-left: -602px;
    border: 1px dotted white;
    border-radius: 50%;
}


/*========================= PLEASE REMOVE =========================*/
#container{
transform: scale(0.8, 0.8) translate(0, 700px);
}
